@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .city-2 {
    background-image: url("/src/img/city-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .city {
    background-image: url("/src/img/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .girl {
    background-image: url("/src/img/girl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .lofi {
    background-image: url("/src/img/lofi.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .lonely-man {
    background-image: url("/src/img/lonely-man.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .neon-city {
    background-image: url("/src/img/neon-city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sad-girl {
    background-image: url("/src/img/sad-girl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .sky {
    background-image: url("/src/img/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  .space {
    background-image: url("/src/img/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
};